In [24]:
import pandas as pd

In [95]:
# read the csv and put the data into a df
# df = pd.read_csv("nba_games.csv", index_col=0)
# df1 = pd.read_csv("nba_games_1.csv", index_col=0)

df = pd.read_csv('nba_games.csv')
df1 = pd.read_csv('nba_games_1.csv')

# Get the sets of columns for both DataFrames
columns_df = set(df.columns)
columns_df1 = set(df1.columns)

# Find common columns and missing columns
common_columns = columns_df.intersection(columns_df1)
missing_in_df = columns_df1 - columns_df
missing_in_df1 = columns_df - columns_df1

common_columns, missing_in_df, missing_in_df1

({'+/-',
  '+/-_max',
  '+/-_max_opp',
  '+/-_opp',
  '3p',
  '3p%',
  '3p%_max',
  '3p%_max_opp',
  '3p%_opp',
  '3p_max',
  '3p_max_opp',
  '3p_opp',
  '3pa',
  '3pa_max',
  '3pa_max_opp',
  '3pa_opp',
  '3par',
  '3par_max',
  '3par_max_opp',
  '3par_opp',
  'Unnamed: 0',
  'ast',
  'ast%',
  'ast%_max',
  'ast%_max_opp',
  'ast%_opp',
  'ast_max',
  'ast_max_opp',
  'ast_opp',
  'blk',
  'blk%',
  'blk%_max',
  'blk%_max_opp',
  'blk%_opp',
  'blk_max',
  'blk_max_opp',
  'blk_opp',
  'date',
  'drb',
  'drb%',
  'drb%_max',
  'drb%_max_opp',
  'drb%_opp',
  'drb_max',
  'drb_max_opp',
  'drb_opp',
  'drtg',
  'drtg_max',
  'drtg_max_opp',
  'drtg_opp',
  'efg%',
  'efg%_max',
  'efg%_max_opp',
  'efg%_opp',
  'fg',
  'fg%',
  'fg%_max',
  'fg%_max_opp',
  'fg%_opp',
  'fg_max',
  'fg_max_opp',
  'fg_opp',
  'fga',
  'fga_max',
  'fga_max_opp',
  'fga_opp',
  'ft',
  'ft%',
  'ft%_max',
  'ft%_max_opp',
  'ft%_opp',
  'ft_max',
  'ft_max_opp',
  'ft_opp',
  'fta',
  'fta_max',
  'fta_max_opp',
  'fta_opp',
  'ftr',
  'ftr_max',
  'ftr_max_opp',
  'ftr_opp',
  'home',
  'home_opp',
  'index_opp',
  'mp',
  'mp.1',
  'mp_max',
  'mp_max.1',
  'mp_max_opp',
  'mp_max_opp.1',
  'mp_opp',
  'mp_opp.1',
  'orb',
  'orb%',
  'orb%_max',
  'orb%_max_opp',
  'orb%_opp',
  'orb_max',
  'orb_max_opp',
  'orb_opp',
  'ortg',
  'ortg_max',
  'ortg_max_opp',
  'ortg_opp',
  'pf',
  'pf_max',
  'pf_max_opp',
  'pf_opp',
  'pts',
  'pts_max',
  'pts_max_opp',
  'pts_opp',
  'season',
  'stl',
  'stl%',
  'stl%_max',
  'stl%_max_opp',
  'stl%_opp',
  'stl_max',
  'stl_max_opp',
  'stl_opp',
  'team',
  'team_opp',
  'total',
  'total_opp',
  'tov',
  'tov%',
  'tov%_max',
  'tov%_max_opp',
  'tov%_opp',
  'tov_max',
  'tov_max_opp',
  'tov_opp',
  'trb',
  'trb%',
  'trb%_max',
  'trb%_max_opp',
  'trb%_opp',
  'trb_max',
  'trb_max_opp',
  'trb_opp',
  'ts%',
  'ts%_max',
  'ts%_max_opp',
  'ts%_opp',
  'usg%',
  'usg%_max',
  'usg%_max_opp',
  'usg%_opp',
  'won'},
 set(),
 {'gmsc', 'gmsc_max', 'gmsc_max_opp', 'gmsc_opp'})

In [97]:
# sort the values by date (earliest games to latest games)
df = df.sort_values("date")
df1 = df1.sort_values("date")
# index is now out of order so we have to reset the index, drop=True means it will drop the previous index instead of making it a column
df = df.reset_index(drop=True)
df1 = df1.reset_index(drop=True)

# delete these columns with the keyword "del" bc they are duplicates of other columns
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]
df.drop(columns=["mp.1", "mp_opp.1", "index", "index_opp"], inplace=True)

del df1["mp.1"]
del df1["mp_opp.1"]
del df1["index_opp"]

KeyError: "['mp.1', 'mp_opp.1', 'index', 'index_opp'] not found in axis"

In [90]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,...,57.1,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True
1,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
2,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
3,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
4,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23033,240.0,38.0,86.0,0.442,9.0,25.0,0.360,14.0,16.0,0.875,...,50.0,35.7,205.0,115.0,BOS,106,0,2024,2024-06-12,False
23034,240.0,29.0,80.0,0.363,14.0,41.0,0.341,12.0,13.0,0.923,...,100.0,40.8,212.0,99.0,DAL,122,1,2024,2024-06-14,False
23035,240.0,46.0,91.0,0.505,15.0,37.0,0.405,15.0,22.0,0.682,...,50.0,35.9,200.0,138.0,BOS,84,0,2024,2024-06-14,True
23036,240.0,35.0,78.0,0.449,11.0,37.0,0.297,7.0,13.0,0.538,...,15.5,32.3,300.0,110.0,BOS,106,1,2024,2024-06-17,False
23037,240.0,38.0,89.0,0.427,13.0,39.0,0.333,17.0,20.0,0.850,...,36.4,54.6,194.0,133.0,DAL,88,0,2024,2024-06-17,True

In [91]:
df1

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,69.4,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,53.2,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,30.4,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,37.5,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,33.3,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,42.9,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,45.0,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,33.3,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,33.3,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,100.0,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True

In [93]:
# create a new column for each game named target which represents whether the team won the next game or not
def add_target(df):
    df["target"] = df.groupby("team")["won"].shift(-1)
    return df

# Apply the add_target function to the DataFrame
df1 = add_target(df1)

In [72]:
# this command is for the target column and specifies if the value is null, then to assign it the value 2
df.loc[pd.isnull(df["target"]), "target"] = 2

In [73]:
# converts all the bool values that represent whether the next game is a win or loss into integers.
# the errors=ignore part is for the command we did before, since the null values are already ints (2), we will ignore the error for converting those
df["target"] = df["target"].astype(int, errors="ignore")

In [78]:
df["won"].value_counts()

won
True     11519
False    11519
Name: count, dtype: int64

In [79]:
df["target"].value_counts()

target
1    11505
0    11503
2       30
Name: count, dtype: int64

In [80]:
# pulls all the values that are null
nulls = pd.isnull(df).sum()

In [75]:
nulls

mp          2
fg          2
fga         2
fg%         2
3p          2
           ..
home_opp    0
season      0
date        0
won         0
target      0
Length: 152, dtype: int64

In [81]:
# assigns all the columns that are null to null
nulls = nulls[nulls > 0]

In [82]:
nulls

mp              2
fg              2
fga             2
fg%             2
3p              2
               ..
blk%_max_opp    2
tov%_max_opp    2
usg%_max_opp    2
ortg_max_opp    2
drtg_max_opp    2
Length: 142, dtype: int64

In [37]:
# if the columnns are in null, then do not include them in valid columns (~ is the negation sign for pandas)
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [38]:
valid_columns

Index(['team', 'total', 'home', 'team_opp', 'total_opp', 'home_opp', 'season',
       'date', 'won', 'target'],
      dtype='object')

In [23]:
# copies the df with the valid columns into df (copy is used so an error doesn't show up with pandas)
df = df[valid_columns].copy()

In [24]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
# ridge regression to do classification to see whether the team would win or not
from sklearn.linear_model import RidgeClassifier


rr = RidgeClassifier(alpha=1)

split = TimeSeriesSplit(n_splits=3)

# only selecting 30 features(columns/stats) to train the model, 
# direction forward means since its sequential, the model will pick the features that improves accuracy the most, until we get to 30 features selected
sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [25]:
# before running the feature selection, we need to scale the columns
# meta data columns that we don't need to scale
removed_columns = ["season", "date", "won", "target", "team", "team_opp"]

In [26]:
# the selected columns are the ones not in removed columns
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [31]:
len(selected_columns)

4

In [28]:
from sklearn.preprocessing import MinMaxScaler

# scales all the data in between 0 and 1 so ridgeregression model can work better
scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [29]:
# this picks the 30 best features for picking this target
sfs.fit(df[selected_columns], df["target"])

ValueError: n_features_to_select must be < n_features.

In [25]:
predictors = list(selected_columns[sfs.get_support()])

NameError: name 'selected_columns' is not defined

In [26]:
# we have to use previous season data to predict current season data
# start=2 means that we need at least 2 seasons worth of data to predict the next seasons data
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    seasons = sorted(data["season"].unique())

    ''' 
    since we're starting from 2016, the first iteration of the loop would be 2018.
    the training data would be 2016, and 2017 since we wanted to use at least 2 years 
    of data to make predictions
    '''
    for i in range(start, len(seasons), step):
        season = seasons[i]

        # all the data that comes before the current season
        train = data[data["season"] < season]
        # current season
        test = data[data["season"] == season]

        # put the training data into the model and train it to predict the target value
        model.fit(train[predictors], train["target"])
        # model predicts the target value on the test data. 
        # model.predict returns a numpy array which we don't want
        preds = model.predict(test[predictors])
        # convert numpy array to pd.series
        preds = pd.Series(preds, index=test.index)

        # combine the two dataframes together 
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]

        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [28]:
predictions = backtest(df, rr, predictors)

NameError: name 'df' is not defined

In [29]:
from sklearn.metrics import accuracy_score

# removes the extra 2 columns bc those will hurt the accuracy of the model
predictions = predictions[predictions["actual"] != 2]
# reveals the models accuracy
accuracy_score(predictions["actual"], predictions["prediction"])

NameError: name 'predictions' is not defined

In [30]:
# home vs away games accuracy factoring
# this shows what the percentage is for home/away games for a certain team
df.group("home").apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

NameError: name 'df' is not defined

In [31]:
# this df allows us to compute rolling averages (stats for the last 10 games)
df_rolling = df[list(selected_columns) + ["won", "team", "season"]]

NameError: name 'df' is not defined

In [32]:
def find_team_averages(team):
    # groups by the last 10 games played by the team
    # for every team, we'll find the averages for the last 10 games
    rolling = team.rolling(10)
    return rolling
df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

NameError: name 'df_rolling' is not defined

In [33]:
rolling_cols = [f"{col}_10" for col in df_rolling.columns]
df_rolling.columns = rolling_cols
df = pd.concat([df, df_rolling], axis=1)

NameError: name 'df_rolling' is not defined

In [34]:
# drop null values
df = df.dropna()

NameError: name 'df' is not defined